<div class="our-menu-wrapper" id="menu">
    <h1 class="fontRaleway">OUR MENU</h1>
    <div class="meal">
        <img src="../../../assets/img/3_section_our_menu/Png/R1.png" alt="">
        <div>
            <h2 class="font-Economica">Tonkotsu Ramen</h2>
            <table class="fontRaleway">
                <tr>
                    <td>CHICKEN</td>
                    <td class="right">11,95€</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td class="right">12,95€</td>
                </tr>
                <tr>
                    <td>SHRIMP</td>
                    <td class="right">13,95€</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="meal-reverse">
        <img src="../../../assets/img/3_section_our_menu/Png/R2.png" alt="">
        <div>
            <h2 class="font-Economica">Spicy Miso Ramen</h2>
            <table class="fontRaleway">
                <tr>
                    <td>CHICKEN</td>
                    <td class="right">11,95€</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td class="right">12,95€</td>
                </tr>
                <tr>
                    <td>SHRIMP</td>
                    <td class="right">13,95€</td>
                </tr>
            </table>
        </div>
    </div><div class="meal">
        <img src="../../../assets/img/3_section_our_menu/Png/R3.png" alt="">
        <div>
            <h2 class="font-Economica">Shio Ramen</h2>
            <table class="fontRaleway">
                <tr>
                    <td>CHICKEN</td>
                    <td class="right">11,95€</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td class="right">12,95€</td>
                </tr>
                <tr>
                    <td>SHRIMP</td>
                    <td class="right">13,95€</td>
                </tr>
            </table>
        </div>
    </div>
</div>