<div class="how-to-order-wrapper">
    <h1 class="fontRaleway">HOW TO ORDER</h1>
    <div class="order-steps font-Economica">
        <div class="pic-and-text">
            <img src="../../../assets/img/2_section_how_to_order/PNG/noodle.png" alt="noodle">
            <p>Pick your noodle</p>
        </div>
        <div class="pic-and-text">
            <img src="../../../assets/img/2_section_how_to_order/PNG/broth.png" alt="brooth">
            <p>Pick your brooth</p>
        </div>
        <div class="pic-and-text">
            <img src="../../../assets/img/2_section_how_to_order/PNG/egg.png" alt="topping">
            <p>Pick your topping</p>
        </div>
    </div>
</div>

